.main-crew {
  h5 {
    color: $color-tertiary;

    span {
      opacity: 0.25;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
  }

  h4 {
    color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
  }

  .body-text {
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .dots {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.17);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: rgba(255, 255, 255, 0.5);
    }
  }

  .dots-active {
    cursor: pointer;
    background-color: $color-tertiary;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
  }
}

@media screen and (min-width: 1441px) {
  .main-crew {
    h5 {
      margin-top: 80px;
      margin-left: 12%;
    }

    .container {
      display: flex;
      justify-content: space-between;
      width: 80%;
      height: 472px;
      margin: 9% 8% 0 12%;
    }

    .info {
      width: 614px;
      height: 400px;
    }

    h3 {
      margin: 20px 0;
    }

    .body-text {
      font-size: 18px;
      line-height: 32px;
      margin: 15px 0 100px 0;
      width: 444px;
    }

    .dots {
      width: 15px;
      height: 15px;
      margin: 0 20px 0 0;
    }

    .dots-active {
      width: 15px;
      height: 15px;
      margin: 0 20px 0 0;
    }

    img {
      width: auto;
      height: 660px;
      position: relative;
      bottom: 35%;
    }
  }
}

@media screen and (min-width: 431px) and (max-width: 1440px) {
  .main-crew {
    h5 {
      margin-top: 5%;
      margin-left: 10%;
      font-size: 20px;
      letter-spacing: 3.38px;
    }

    .container {
      width: 573px;
      height: 882px;
      margin: auto;
      justify-items: center;
    }

    .info {
      width: 458px;
      height: 232px;
      text-align: center;
    }

    h4 {
      font-size: 24px;
      margin: 40px 0 0 0;
    }

    h3 {
      margin: 10px 0 0 0;
      font-size: 40px;
    }

    .body-text {
      font-size: 16px;
      line-height: 28px;
      margin: 15px 0 30px 0;
      width: 444px;
    }

    .dots {
      width: 10px;
      height: 10px;
      margin: 0 20px 0 0;
    }

    .dots-active {
      width: 10px;
      height: 10px;
      margin: 0 20px 0 0;
    }

    img {
      width: auto;
      height: 525px;
      position: fixed;
      left: 50%;
      transform: translate(-50%, 0%);
      bottom: 0;
      margin: 5% auto 0 auto;
    }
  }
}

@media screen and (max-width: 430px) {
  .main-crew {
    h5 {
      text-align: center;
      font-size: 16px;
      letter-spacing: 2.7px;
    }

    .container {
      width: 375px;
      height: 682px;
      margin: auto;
      justify-items: center;
    }

    .info {
      width: 327px;
      height: 232px;
      text-align: center;
      border-top: 1px solid rgba(255, 255, 255, 0.3);
      position: absolute;
      top: 374px;
      left: 50%;
      transform: translate(-50%, 0%);
    }

    h4 {
      font-size: 16px;
      margin: 80px 0 0 0;
    }

    h3 {
      margin: 10px 0 0 0;
      font-size: 24px;
    }

    .body-text {
      font-size: 15px;
      line-height: 25px;
      margin: 15px auto;
      width: 327px;
      text-align: center;
    }

    .dots-menu {
      position: absolute;
      top: 30px;
      left: 50%;
      transform: translate(-50%, 0%);
    }

    .dots {
      width: 10px;
      height: 10px;
      margin: 0 7px 0 7px;
    }

    .dots-active {
      width: 10px;
      height: 10px;
      margin: 0 7px 0 7px;
    }

    img {
      width: auto;
      height: 223px;
      position: absolute;
      top: 150px;
      left: 50%;
      transform: translate(-50%, 0%);
    }
  }
}
