.main-moon {
  h5 {
    color: $color-tertiary;

    span {
      opacity: 0.25;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
  }

  .menu {
    display: flex;
    width: 286px;
    height: 34px;
  }

  .menu-text-active {
    cursor: pointer;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2.7px;
    text-align: center;
    padding-bottom: 25px;
    border-bottom: 4px solid $color-tertiary;
  }

  .menu-text {
    cursor: pointer;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2.7px;
    text-align: center;
    padding-bottom: 25px;
    border-bottom: 4px solid rgba(255, 255, 255, 0);
    color: $color-secondary;

    &:hover {
      color: $color-secondary;
      border-bottom: 4px solid $color-quaternary;
    }
  }

  .body-text {
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 15px 0 50px 0;
  }

  hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
  }

  .subheading-2 {
    color: $color-secondary;
  }
}

@media screen and (min-width: 1441px) {
  .main-moon {
    h5 {
      margin-top: 80px;
      margin-left: 12%;
    }

    .container {
      display: flex;
      justify-content: space-around;
      width: 83%;
      height: 472px;
      margin: 9% 5% 0 12%;
    }

    img {
      width: 445px;
      height: 445px;
      align-self: flex-end;
    }

    .info {
      width: 445px;
      height: 472px;
    }

    .menu {
      margin: 0 0 30px 0;
    }

    .menu-text-active {
      font-size: 16px;
      margin: 0 30px 0 0;
    }

    .menu-text {
      font-size: 16px;
      margin: 0 30px 0 0;
    }

    .body-text {
      font-size: 18px;
      line-height: 32px;
    }

    .facts {
      display: flex;
      margin: 30px 0 0 0;
    }

    .fact {
      width: 200px;
      height: 61px;
      margin: 0 20px 0 0;
    }

    .subheading-1 {
      margin: 15px 0 0 0;
    }
  }
}

@media screen and (min-width: 431px) and (max-width: 1440px) {
  .main-moon {
    h5 {
      margin-top: 5%;
      margin-left: 10%;
      font-size: 20px;
      letter-spacing: 3.38px;
    }

    .container {
      width: 573px;
      height: 782px;
      margin: auto;
      justify-items: center;
    }

    img {
      width: 300px;
      height: 300px;
      margin: 40px auto;
    }

    .info {
      width: 573px;
      height: 472px;
    }

    .menu {
      margin: 0 auto 30px auto;
    }

    .menu-text-active {
      font-size: 16px;
      margin: 0 30px 0 0;
    }

    .menu-text {
      font-size: 16px;
      margin: 0 30px 0 0;
    }

    h2 {
      text-align: center;
      font-size: 80px;
    }

    .body-text {
      font-size: 16px;
      line-height: 28px;
      text-align: center;
    }

    .facts {
      display: flex;
      margin: 20px auto 0 auto;
    }

    .fact {
      width: 170px;
      height: 61px;
      margin: 0 40px;
      text-align: center;
    }

    .subheading-1,
    .subheading-2 {
      margin: 15px 0 0 0;
      text-align: center;
    }
  }
}

@media screen and (max-width: 430px) {
  .main-moon {
    h5 {
      text-align: center;
      font-size: 16px;
      letter-spacing: 2.7px;
    }

    .container {
      width: 327px;
      height: 276px;
      margin: auto;
    }

    img {
      width: 170px;
      height: 170px;
      position: absolute;
      top: 150px;
      left: 50%;
      transform: translate(-50%, 0%);
    }

    .info {
      width: 327px;
      height: 472px;
      margin: 250px auto 0 auto;
    }

    .menu {
      margin: 0 auto 30px auto;
    }

    .menu-text-active {
      font-size: 14px;
      margin: 0 15px;
    }

    .menu-text {
      font-size: 14px;
      margin: 0 15px;
    }

    h2 {
      text-align: center;
      font-size: 56px;
    }

    .body-text {
      font-size: 15px;
      line-height: 25px;
      text-align: center;
    }

    .facts {
      display: flex;
      flex-direction: column;
      margin: auto;
    }

    .fact {
      width: 200px;
      height: 61px;
      margin: 20px auto;
    }

    .subheading-1,
    .subheading-2 {
      margin: 15px auto;
      text-align: center;
    }
  }
}
