.main-moon {
  width: 100%;
  height: 100%;

  h5 {
    margin-top: 5%;
    margin-left: 10%;
  }

  .container {
    width: 90%;
    display: flex;
    margin: 7% auto;
    justify-content: space-around;
  }

  img {
    width: 445px;
    height: 445px;
  }

  .info {
    width: 445px;
    height: 472px;
    display: flex;
    flex-direction: column;
  }

  .menu {
    width: 286px;
    height: 34px;
    display: flex;
    margin: 0 0 30px 0;
  }

  .menu-text-active {
    cursor: pointer;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 2.7px;
    text-align: center;
    padding-bottom: 25px;
    margin: 0 30px 0 0;
    border-bottom: 4px solid white;
  }

  .menu-text {
    cursor: pointer;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 2.7px;
    text-align: center;
    padding-bottom: 25px;
    margin: 0 30px 0 0;
    border-bottom: 4px solid rgba(255, 255, 255, 0);

    &:hover {
      color: #d0d6f9;
      border-bottom: 4px solid #979797;
    }
  }

  .body-text {
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 32px;
    margin: 15px 0 50px 0;
  }

  hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
  }

  .facts {
    display: flex;
    margin: 30px 0 0 0;
  }

  .fact {
    width: 143px;
    height: 61px;
  }

  .one {
    margin: 0 100px 0 0;
  }

  .subheading-1 {
    margin: 15px 0 0 0;
  }
}
