@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellefair&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #0B0D17;
  color: #FFFFFF;
}

h1 {
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 150px;
}

h2 {
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 100px;
}

h3 {
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 56px;
}

h4 {
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
}

h5 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
  letter-spacing: 4.72px;
}

.subheading-1 {
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
}

.subheading-2 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 2.35px;
}

.nav-text {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 2.7px;
}

.body-text {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}

.explore {
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  letter-spacing: 2px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}
.main .main__paragraph {
  font-weight: 700;
}
.main .main__paragraph:hover {
  color: lightgoldenrodyellow;
}