@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellefair&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-home {
  width: 100%;
  height: 100%;
  margin-top: 15%;
  display: flex;
  justify-content: space-around;
}
.main-home .container {
  width: 450px;
  height: 382px;
  align-self: flex-end;
}
.main-home .container h1 {
  margin: 20px 0 20px 0;
}
.main-home .container .body-text {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 32px;
}
.main-home .explore-circle {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 274px;
  height: 274px;
  background-color: #FFFFFF;
  border-radius: 50%;
  text-decoration: none;
}
.main-home .explore-circle:hover {
  outline-width: 88px;
  outline-style: solid;
  outline-color: rgba(255, 255, 255, 0.1);
}
.main-home .explore {
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  letter-spacing: 2px;
  color: black;
}

.main-moon {
  width: 100%;
  height: 100%;
}
.main-moon h5 {
  margin-top: 5%;
  margin-left: 10%;
}
.main-moon .container {
  width: 90%;
  display: flex;
  margin: 7% auto;
  justify-content: space-around;
}
.main-moon img {
  width: 445px;
  height: 445px;
}
.main-moon .info {
  width: 445px;
  height: 472px;
  display: flex;
  flex-direction: column;
}
.main-moon .menu {
  width: 286px;
  height: 34px;
  display: flex;
  margin: 0 0 30px 0;
}
.main-moon .menu-text-active {
  cursor: pointer;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 2.7px;
  text-align: center;
  padding-bottom: 25px;
  margin: 0 30px 0 0;
  border-bottom: 4px solid white;
}
.main-moon .menu-text {
  cursor: pointer;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 2.7px;
  text-align: center;
  padding-bottom: 25px;
  margin: 0 30px 0 0;
  border-bottom: 4px solid rgba(255, 255, 255, 0);
}
.main-moon .menu-text:hover {
  color: #d0d6f9;
  border-bottom: 4px solid #979797;
}
.main-moon .body-text {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 32px;
  margin: 15px 0 50px 0;
}
.main-moon hr {
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.main-moon .facts {
  display: flex;
  margin: 30px 0 0 0;
}
.main-moon .fact {
  width: 143px;
  height: 61px;
}
.main-moon .one {
  margin: 0 100px 0 0;
}
.main-moon .subheading-1 {
  margin: 15px 0 0 0;
}

.main-crew {
  width: 100%;
  height: 100%;
}
.main-crew .container {
  width: 90%;
  display: flex;
  margin: 5% auto 0 10%;
}
.main-crew .info {
  width: 50%;
  height: 472px;
  display: flex;
  flex-direction: column;
}
.main-crew h5 {
  margin: 0 0 150px 0;
}
.main-crew h5 span {
  color: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.main-crew h4 {
  color: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.main-crew h3 {
  margin: 20px 0;
}
.main-crew .body-text {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 32px;
  margin: 15px 0 100px 0;
  width: 444px;
}
.main-crew .dots {
  cursor: pointer;
  width: 15px;
  height: 15px;
  margin: 0 20px 0 0;
  background-color: #979797;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.main-crew .dots:hover {
  background-color: #ffffff;
}
.main-crew .dots-active {
  cursor: pointer;
  width: 15px;
  height: 15px;
  margin: 0 20px 0 0;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.main-crew img {
  height: 75%;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0 5% 0 0;
}

.main-technology {
  width: 100%;
  height: 100%;
  position: relative;
}
.main-technology h5 {
  margin-top: 5%;
  margin-left: 10%;
}
.main-technology h5 span {
  color: rgba(255, 255, 255, 0.3);
}
.main-technology .container {
  width: 90%;
  display: flex;
  margin-top: 3%;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  right: 0;
}
.main-technology .info {
  width: 488px;
  height: 350px;
  display: flex;
}
.main-technology h4 {
  color: rgba(255, 255, 255, 0.3);
}
.main-technology .nav-text {
  margin: 0 0 0 80px;
}
.main-technology h3 {
  margin: 20px 0 0 80px;
  width: 488px;
}
.main-technology .body-text {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 32px;
  margin: 15px 0 0 80px;
  width: 444px;
}
.main-technology .dots-menu {
  display: flex;
  flex-direction: column;
}
.main-technology .dots {
  cursor: pointer;
  width: 80px;
  height: 80px;
  margin: 0 0 40px 0;
  border: 1px solid #979797;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  align-content: center;
  text-align: center;
}
.main-technology .dots h4 {
  color: #ffffff;
}
.main-technology .dots:hover {
  background-color: #ffffff;
}
.main-technology .dots:hover h4 {
  color: black;
}
.main-technology .dots-active {
  cursor: pointer;
  width: 80px;
  height: 80px;
  margin: 0 0 40px 0;
  border: 1px solid #ffffff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  align-content: center;
  text-align: center;
  background-color: #ffffff;
}
.main-technology .dots-active h4 {
  color: black;
}
.main-technology img {
  width: 515px;
  height: 527px;
}

.light {
  background: white;
  color: black;
}

body {
  background: #0B0D17;
  color: #FFFFFF;
}

.body-home {
  background-image: url("../assets/home/background-home-desktop.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.destination {
  background-image: url("../assets/destination/background-destination-desktop.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.crew {
  background-image: url("../assets/crew/background-crew-desktop.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.technology {
  background-image: url("../assets/technology/background-technology-desktop.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
nav .nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 1385px;
  height: 96px;
  margin-top: 55px;
  position: relative;
}
nav img {
  width: 48px;
  height: 48px;
}
nav .rectangle {
  width: 473px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 1;
  position: absolute;
  right: 800px;
}
nav .nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 830px;
  height: 96px;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  justify-content: center;
  position: absolute;
  right: 0px;
}

h1 {
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 150px;
}

h2 {
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 100px;
}

h3 {
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 56px;
}

h4 {
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
}

h5 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
  letter-spacing: 4.72px;
}

.subheading-1 {
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
}

.subheading-2 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 2.35px;
}

.nav-text {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 2.7px;
  color: white;
  text-decoration: none;
}

.nav-border-active {
  height: 96px;
  align-content: center;
  border-bottom: 4px solid white;
  margin: 0 30px 0 30px;
}

.nav-border {
  height: 96px;
  align-content: center;
  border-bottom: 4px solid rgba(255, 255, 255, 0);
  margin: 0 30px 0 30px;
}
.nav-border:hover {
  border-bottom: 4px solid #979797;
}